<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
<h1>{{.Type}}</h1>
<ul>
{{range .MealInfo}}
    <li>商品：{{.Name}} - 价钱：{{.Price}}</li>
{{end}}
</ul>


{{end}}


</body>
</html>