<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

{{range .Wisdom}}
{{uc .Name}}
{{uc .Word}}
{{end}}


{{range .Wisdom}}
{{ft .Name}}
{{end}}

{{range .Transport}}
{{if eq .Manufacturer "toyota"}}
{{.Model}}
{{end}}
{{end}}

</body>
</html>